* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    font-size: 62.5%;
    --color-base-white: #ffffff;
    --color-base-gray-100: #f5f5f5;
    --color-base-gray-900: #202024;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
    font-family: 'Mulish', sans-serif;
}


#app {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
}

.container {
    padding: 1.6rem 3rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

main {
    background-color: var(--color-base-gray-100);
    overflow-y: scroll;
}

header,
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    background-color: red;
    flex: 1;
}

nav ul {
    font-size: 1.8rem;
    list-style-type: none;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}